<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/moment"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment"></script>
<script src="https://cdn.jsdelivr.net/npm/chartkick@4.0.0/dist/chartkick.min.js"></script>

<h1 class="text-4xl font-bold underline">
  signals (chartkick cdn으로 적용된상태 > sprockets 적용 필요)
</h1>
<%= link_to "Home", root_path, class: "btn btn-link" %>


<%= line_chart @sales_data, xtitle: "날짜", ytitle: "매출 (USD)" %>
