<h1>Settings#index</h1>
<p>Find me in app/views/settings/index.html.erb</p>

<%= link_to "Home", root_path %>
<%# upbit api 등록 페이지 이동  %>
<%= link_to "Upbit API 등록", settings_upbit_api_setting_path %>

<% if current_user %>
    <%= button_to "Logout", destroy_user_session_path, data: {turbo: "false"}, method: :delete %>
<% else %>
    <%= link_to "Login", new_user_session_path %>
<% end %>