<style>
    /* div {
        border: 1px solid black;
    } */
</style>

<div class="grid grid-cols-1 gap-4">
    <% if current_user %>
        <ul>
            
            <% if @api_keys.present? %>
                <% @api_keys.each do |api_key| %>
                    <li><%= link_to api_key.platform, upbit_accounts_path %></li>
                <% end %>
            <% end %>
            <li><%= link_to "μ„Έν…", settings_index_path %></li>
        </ul>
    <% else %>
        <%= link_to "Login", new_user_session_path %>
    <% end %>
</div>



