<div class="flex flex-col min-h-screen justify-center items-center border-b border-gray-300">
    <div class="flex flex-col">
        <div class="max-w-lg mx-auto p-6 m-7 text-4xl font-bold">
            <div class="flex items-center">
                ASST
            </div>
        </div>
    </div>
    <div class="flex flex-col">
        <div class="max-w-lg mx-auto p-6 border border-gray-300 rounded-lg m-7">
            <div class="flex items-center">
                <%= render "devise/shared/links" %>
            </div>
        </div>
    </div>
</div>