<%# 위아래 크기에서 중간에 위치시키기 %>


<div class="flex flex-col min-h-screen border-b border-gray-300">
    <div class="flex flex-col">
        <div class="flex justify-center items-center font-bold text-2xl border-b border-gray-200">
            <div class="text-blue-500">
                asst
            </div>
        </div>

        <div class="flex justify-center items-center">
            <%= render "devise/shared/links" %>
        </div>
    </div>
</div>